.status-popup {
  &__wrapper {
    position: absolute;
    top: calc(50% - 2px);
    left: 32px;
    background-color: var(--color-dark-blue);
    color: white;
    border-radius: 5px;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeIn 1s forwards;
    &::before {
      content: '';
      position: absolute;
      left: -5px;
      top: calc(50% - 3px);
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right:5px solid var(--color-dark-blue);
    }
  }

  &__status {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    &-list {
      list-style: none;
    }

    &-text {
      padding-left: 20px;
      padding-right: 10px;
      font-weight: 400;
      white-space: nowrap;

      &::before {
        content: "";
        position: absolute;
        left: 10px;
        width: 0;
        height: 20px;
        padding-right: 10px;;
        border-radius: 7px;
        background-color: var(--color-light-blue-gray);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}