.signup {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 46px 38px 42px;

    @media (min-width: 500px) {
      width: 469px;
    }
  }

  &-title {
    margin-bottom: 19px;
  }
}