.checkbox {
  position: relative;
  padding-top: 12px;
  margin-bottom: 15px;

  &-label {
    display: flex;

    span {
      color: var(--color-gray-blue);
    }

    input {
      appearance: none;
      -webkit-appearance: none;
      background-color: var(--color-white);
      border: 2px solid var(--border-color);
      padding: 9px;
      border-radius: 5px;
      display: inline-block;
      position: relative;
      height: 22px;
      margin-right: 15px;
      box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03) !important;

      &:checked {
        background-color: var(--color-blue);
        border: 2px solid var(--color-blue);

        &:after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background: url('data:image/svg+xml;utf8,<svg width="16" height="12" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.2003L4.26078 4.8L3.01437 6L1.76797 4.8L1.77489 4.79334L0 3.0661L1.24674 1.8661L3.02129 3.59365L6.75359 0L8 1.2003Z" fill="white"/></svg>') no-repeat;
          top: calc(50% - 6px);
          left: calc(50% - 8px);
          //content: "";
          //position: absolute;
          //width: 15px;
          //height: 15px;
          //color: var(--color-white);
          //background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.1725 19.1625L8.7025 15.6925C8.51567 15.5052 8.26202 15.4 7.9975 15.4C7.73298 15.4 7.47933 15.5052 7.2925 15.6925C6.9025 16.0825 6.9025 16.7125 7.2925 17.1025L11.4725 21.2825C11.8625 21.6725 12.4925 21.6725 12.8825 21.2825L23.4625 10.7025C23.8525 10.3125 23.8525 9.68249 23.4625 9.29249C23.2757 9.10523 23.022 9 22.7575 9C22.493 9 22.2393 9.10523 22.0525 9.29249L12.1725 19.1625Z" fill="white"/></svg>') no-repeat;
          //top: calc(50% - 5px);
          //left: calc(50% - 7px);
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
    }

    :global(.flag-icon) {
      margin-left: 4px;

      &:global(.flag-first) {
        margin-left: 0;
        margin-right: 6px;
      }
    }

    :global(.colored-circle) {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &.hide-checkbox {
      input {
        display: none;
      }
    }

    &-text {
      display: inline-block;
    }

    &-extra-text {
      margin-left: 8px;
    }
  }

  &.no-margin {
    input {
      margin-right: 0;
    }
  }

  &.vertical-center {
    padding-top: 0;
    margin-bottom: 0;
  }

  :global(.table-form-fields) & {
    padding-top: 0;
    margin-bottom: 0;

    &-label {
      justify-content: center;
    }

    input {
      margin: 0
    }
  }

  .error {
    position: absolute;
    bottom: -16px;
    font-size: 10px;
    color: var(--color-error);
  }
}