@import '@/constants/devices.scss';

.send-comment {
  .form-submit-btn {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    margin-top: 30px;

    @media (max-width: $mobile) {
      gap: 6px;
      flex-wrap: wrap;
    }
  }
}