
//.sanity-component-wrapper {
//  display: flex;
//  flex-direction: column;
//  width: 100%;
//}

.documentation-page {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}