@import '@/constants/devices.scss';

.email-confirm-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;

  &__success {
    padding: 36px 24px;
    //text-align: center;

    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 24px;
    }

    &-text {
      margin-bottom: 6px;
      font-size: 16px;
      //font-weight: bold;
      line-height: 1.2;

      &-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
      }
    }

    &-btns {
      margin-top: 24px;
      font-size: 16px;

      a {
        //font-size: 16px;
        font-weight: bold;
        color: var(--color-blue);
        text-decoration: underline;

        &:hover {
          text-decoration: navajowhite;
        }
      }
    }
  }

  .confirm-step {
    display: inline-block;
    width: 57px;
  }
}