.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 900;
    line-height: 30px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    transition: all .3s ease-in;

    &:hover,
    &:focus {
        background-color: var(--color-dark-blue);
    }
}

.btn-size-sm {
    padding: 5px 8px;
}

.btn-size-md {
    min-width: 128px;
    padding: 5px 14px
}

.btn-size-lg {
    min-width: 200px;
    padding: 5px 16px;
}

.btn-form-br0 {
    border-radius: 0;
}

.btn-form-br2 {
    border-radius: 2px;
}

.btn-form-br30 {
    border-radius: 30px;
}

.icon {
    display: flex;
    align-items: center;
}

.btn .icon-right {
    margin-right: -5px;
}

/* .btn .icon-left {
    margin-right: 8px;
} */