.warehouse-block {
  background-color: var(--color-modal-bg);
  padding: 0 8px;

  &__warehouse {
    display: flex;
    align-items: center;
    padding: 16px 16px 12px 16px;
  }
  &__flag {
    margin-right: 8px;
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
  }

  &__info-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    padding: 16px;
    height: 100%;

    &-wrapper {
      flex: 0 0 50%;
      padding: 0 8px 16px;
      display: flex;
      flex-direction: column;

      &:first-child {
        flex-basis: 35%;
      }
      &:last-child {
        flex-basis: 65%;
      }

      @include upToTablet {
        flex: 0 0 100%;

        &:first-child,
        &:last-child {
          flex-basis: 100%;
        }
      }
    }

    &-title {
      font-weight: bold;
      margin-bottom: 6px;
    }

    &-text {
      display: flex;
      flex-direction: column;
    }
  }

  &__line {
    line-height: 1.4;
  }

  &__empty-line {
    height: 8px;
  }
}