
.dropzone {
  padding: 20px 20px 20px 20px;
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  color: var(--color-gray-blue);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  min-height: 300px;
  width: 100%;
  background-color: var(--color-light-gray);

  &-container {
    border: 1px solid var(--color-gray2);
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
    position: relative;
    display: flex;

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: 2px solid var(--color-blue);
    }
  }

  .dropzone-title {
    margin-bottom: 10px;
  }

  .hint {
    font-size: 10px;
    margin-top: 12px;
  }

  &.active {
    border-color: var(--color-blue);
  }

}


.file-details {
  word-wrap: anywhere;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 10px 20px;
  margin: 20px 30px;
}

.file-list img {
  height: 100%;
  width: 100px;
  padding-right: 10px;
  object-fit: cover;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Выберите нужную высоту */
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-icon {
  color: #3498db; /* Подстройте цвет иконки */
  font-size: 24px; /* Подстройте размер иконки */
}