.import-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  text-align: center;

  &__title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
  }

  button {
    margin-top: 25px;
    height: 50px;
  }

  .dropzone-container {
    margin-top: 25px;
  }
}