@import "@/constants/devices.scss";

.tabs-block {
  &__tablist {

    //background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 35px 30px 35px 45px;
    overflow: auto;

    @media (max-width: $upToLaptop) {
      justify-content: flex-start;
      padding: 16px;
    }

    &.with-h-divider {
      border-bottom: 2px solid var(--border-color);
    }
  }

  &__tab {
    padding: 0 16px;
    font-size: 12px;
    font-weight: bold;

    @media (max-width: $upToLaptop) {
      padding: 0 12px;
    }


    &-link {
      position: relative;
      display: inline-block;
      padding: 0 5px;
      color: var(--color-gray-blue);
      white-space: nowrap;

      &.active {
        color: var(--color-blue);

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: var(--color-blue);
          position: absolute;
          left: 0;
          bottom: -4px;
        }
      }

      &.has-error {
        color: var(--color-error);
        font-weight: 900;

        &::after {
          background-color: var(--color-error);
        }
      }
    }
  }

  &__content {

    &.min-height {
      min-height: min(calc(100vh - 225px), 610px);

      //@media (max-width: $upToTablet) {
      //  min-height: min(calc(100vh - 225px), 610px);
      //}
    }

    &-notifications {
      width: 100%;
      margin-top: 8px;

      @media (min-width: $laptop) {
        margin-top: -16px;
      }
    }

    &-notification {
      //display: inline-block;
    }

    &-panel {

    }
  }


  &.inside-modal {
    margin-top: -90px;

    @media (max-width: $laptop) {
      margin-top: 0;
    }

    .tabs-block {
      &__tablist {
        margin-bottom: 8px;

        @media (max-width: $upToLaptop) {
          margin-bottom: 0;
        }

        @media (min-width: $laptop) {
          //position: fixed;
          //top: 24px;
          //left: 50%;
          //transform: translateX(-50%);
          z-index: 10;
        }
      }

      &__content {
        max-height: calc(100vh - 245px);
        overflow: hidden auto;
        margin: 0 -24px;
        //padding: 24px 24px 0;

        @media (max-width: $upToLaptop) {
          margin: 0 -16px;
          //padding: 0 16px;
          //max-height:none;
        }

        &-wrapper {
          padding: 24px 24px 0;

          @media (max-width: $upToLaptop) {
            //margin: 0 -16px;
            padding: 0 16px;
            //max-height:none;
          }
        }

        &::-webkit-scrollbar {
          width: 10px;
          margin-right: 50px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--color-light-blue-gray);
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: var(--color-gray-blue);
        }
      }
    }
  }
}