.order-statuses {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 26px;
  }

  .title {
    margin-bottom: 18px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}