.ticket-info {
  &-block {

  }

  &--title {
    padding: 2px 16px;

    &.width-17 {
      max-width: 120px;
    }

  }

  &--info {
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    padding: 2px 16px;

    &.width-17 {
      min-width: 160px;
    }

    &.is-link {
      color: var(--color-blue);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}