.toastWrapper {
  :global(.Toastify__toast) {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
    background-color: var(--color-light-gray);
    min-height: 60px;
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    padding: 16px 20px;
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 1 !important;

    &:hover {
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
      opacity: 1;
      cursor: pointer;
    }
  }

  :global(.Toastify__toast-container) {
    box-sizing: border-box;
    position: fixed;
    z-index: 9999;
  }

  /* Override react-toastify's default positioning if needed */
  :global(.Toastify__toast-container--top-right) {
    top: 20px;
    right: 20px;
    animation: toast-in-right 0.7s;
  }

  :global(.Toastify__progress-bar) {
    background: var(--color-blue);
  }

  /* Specific style targeting the download toast indicator */
  :global(.download-toast) {
    // width: 180px !important;
    // min-height: 85px !important;
    // padding: 24px 28px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    // color: var(--color-dark) !important;
    // border-left: 4px solid var(--color-blue) !important;
    // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18) !important;
  }
}