.language-selector {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1001;

  &-wrapper {
    display: flex;
    width: auto;
    z-index: 10;
  }

  &-dropdown {
    min-width: 150px;

    &-option {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .lang-icon {
      width: 16px;
    }


    .input-select__container {
      .select-field__control {
        border: 1px solid var(--color-gray2) !important;
      }
    }

    .select-field {
      &__dropdown-indicator {
        //display: none;
        padding-left: 0;
        padding-right: 0;
      }

      &__control {
        //background-color: transparent;
      }

      &__option {
        padding: 10px 6px;
      }


      //&__value-container {
      //  padding-left: 0;
      //  padding-right: 0;
      //}
      //
      //&-val {
      //  padding-left: 0;
      //  padding-right: 0;
      //}

    }

  }
}