@import '@/constants/devices.scss';

.form-table {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 -28px;

  @media (max-width: $upToTablet) {
    margin: 0 -16px;
  }

  &--btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 8px;
    gap: 30px;
    line-height: normal;

    @media (max-width: $tablet) {
      gap: 12px;
      width: auto;
      flex: 0 0 auto;
      margin-left: auto;

      .btn {
        font-size: 0;
        padding: 5px 9px 5px 5px;
        gap: 0;
        min-width: 40px;
      }
    }

    &.small-paddings {
      padding-bottom: 0;
    }
  }

  .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 2px solid red;
    //border-radius: 30px;
    padding: 0 5px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    border: none;
    background-color: transparent;

    svg {
      transition: all 0.3s ease;
    }

    &:hover {
      svg {
        fill: var(--color-red)
      }
    }

    &[disabled] {
      cursor: not-allowed;
      //background-color: var(--color-light-gray);
      border: none;

      &:hover {
        svg {
          fill: var(--color-light-blue-gray);
        }
      }
    }
  }

  .ant-table {
    &-thead {
      .ant-table-cell {
        padding: 20px 4px !important;
        font-size: 12px;
        font-weight: bold;
        color: var(--color-gray-blue) !important;
        background-color: var(--color-white) !important;

        &::before {
          content: none !important;
        }
      }
    }

    &-row {
      &.is-disabled {
        background-color: var(--color-light-gray) !important;
      }
    }

    &-cell {
      padding: 8px 6px !important;
    }

    .error {
      font-size: 0;
    }
  }
}

.form-submit-btn {
  display: flex;
  justify-content: flex-end;
  gap: 22px;
  margin-top: 16px;

  @media (max-width: $mobile) {
    gap: 6px;
    flex-wrap: wrap;
  }
}

.select-field {
  &__input {
    max-height: 10px;
    line-height: 1 !important;
  }
}

.select-field__menu-portal {
  color: var(--color-gray-blue) !important;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  animation: fade--in 0.2s ease-in-out;
  transform-origin: top;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  //padding: 10px 4px;
  position: absolute;

  .select-field {
    &__menu {
      padding: 10px 4px;
      border-radius: 12px !important;
      border: 1px solid var(--color-light-gray) !important;
      box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03) !important;

      &-list {
        max-height: 120px;
      }
    }

    &__option {
      cursor: default;
      display: block;
      font-size: inherit;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      color: inherit;
      padding: 8px 6px;
      box-sizing: border-box;

      span {
        line-height: 1 !important;
      }

      &.is-focused {
        background-color: var(--color-blue-15) !important;
        color: var(--color-blue) !important;
        cursor: pointer !important;
      }

      &.is-selected {
        background-color: transparent !important;
        color: var(--color-blue) !important;
        font-size: 10px;

        &:hover {
          background-color: transparent !important;
        }
      }

      .amount-circle {
        margin-left: 8px;
        padding: 2px 4px;
        font-size: 8px;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-radius: 15px;
      }

      &.is-empty,
      &.is-inactive {
        color: var(--color-light-blue-gray);

        .amount-circle {
          background-color: var(--color-light-blue-gray);
        }
      }

      &.is-inactive:hover {
        color: var(--color-light-blue-gray) !important;
      }
    }

    &__option--is-selected {
      background-color: transparent !important;
      color: var(--color-gray-blue) !important;
    }

    &__option--is-selected:hover {
      background-color: transparent !important;
    }

    &__option--is-focused {
      background-color: var(--color-blue-15) !important;
      color: var(--color-blue) !important;
      cursor: pointer !important;
    }

    &__option--is-focused:hover {}
  }
}

.select-field__menu-portal {
  color: var(--color-gray-blue) !important;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  animation: fade--in 0.2s ease-in-out;
  transform-origin: top;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  //padding: 10px 4px;
  position: absolute;

  .select-field {
    &__menu {
      padding: 10px 4px;
      border-radius: 12px !important;
      border: 1px solid var(--color-light-gray) !important;
      box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03) !important;

      &-list {
        max-height: 120px;
      }
    }

    &__option {
      cursor: default;
      display: block;
      font-size: inherit;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      color: inherit;
      padding: 8px 6px;
      box-sizing: border-box;

      &.is-focused {
        background-color: var(--color-blue-15) !important;
        color: var(--color-blue) !important;
        cursor: pointer !important;
      }

      &.is-selected {
        background-color: transparent !important;
        color: var(--color-blue) !important;
        font-size: 10px;

        &:hover {
          background-color: transparent !important;
        }
      }

      .amount-circle {
        margin-left: 8px;
        padding: 2px 4px;
        font-size: 8px;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-radius: 15px;
      }

      &.is-empty,
      &.is-inactive {
        color: var(--color-light-blue-gray);

        .amount-circle {
          background-color: var(--color-light-blue-gray);
        }
      }

      &.is-inactive:hover {
        color: var(--color-light-blue-gray) !important;
      }
    }

    &__option--is-selected {
      background-color: transparent !important;
      color: var(--color-gray-blue) !important;
    }

    &__option--is-selected:hover {
      background-color: transparent !important;
    }

    &__option--is-focused {
      background-color: var(--color-blue-15) !important;
      color: var(--color-blue) !important;
      cursor: pointer !important;
    }

    &__option--is-focused:hover {}
  }
}