@import '@/constants/devices.scss';

.form-table {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 -28px;

  @media (max-width: $mobile) {
    margin: 0 -16px;
  }

  &--btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 8px;
    gap: 30px;
    line-height: normal;

    @media (max-width: $tablet) {
      gap: 12px;
      width: auto;
      flex: 0 0 auto;
      margin-left: auto;

      .btn {
        font-size: 0;
        padding: 5px 9px 5px 5px;
        gap: 0;
        min-width: 40px;
      }
    }

    &.small-paddings {
      padding-bottom: 0;
    }
  }

  .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 2px solid red;
    //border-radius: 30px;
    padding: 0 5px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    border: none;
    background-color: transparent;

    svg {
      transition: all 0.3s ease;
    }

    &:hover {
      svg {
        fill: var(--color-red)
      }
    }

    &[disabled] {
      cursor: not-allowed;
      //background-color: var(--color-light-gray);
      border: none;

      &:hover {
        svg {
          fill: var(--color-light-blue-gray);
        }
      }
    }
  }

  .ant-table {
    &-thead {
      .ant-table-cell {
        padding: 20px 4px !important;
        font-size: 12px;
        font-weight: bold;
        color: var(--color-gray-blue) !important;
        background-color: var(--color-white) !important;

        &::before {
          content: none !important;
        }
      }
    }

    &-row {
      &.is-disabled {
        background-color: var(--color-light-gray) !important;
      }
    }

    &-cell {
      padding: 8px 6px !important;
    }

    .error {
      font-size: 0;
    }
  }
}

.form-submit-btn {
  display: flex;
  justify-content: flex-end;
  gap: 22px;
  margin-top: 16px;

  @media (max-width: $mobile) {
    gap: 6px;
    flex-wrap: wrap;
  }
}