.send-message {
  &-block {
    padding: 8px 24px 8px 36px;

    &__text-block {
      position: relative;

      .emoji-btn {
        position: absolute;
        top: 12px;
        left: 12px;
        //transform: translateY(-50%);

        svg {
          width: 16px;

          path {
            fill: var(--color-light-blue-gray);
            transition: all 0.3s ease;
          }
        }

        &:hover {
          svg path {
            fill: var(--color-blue)
          }
        }
      }


    }

    .add-file__btn {
      position: absolute;
      top: 50%;
      left: -32px;
      transform: translateY(-50%);

      &:disabled {
        svg path {
          fill: var(--color-light-blue-gray);
        }
      }
    }
    .image-preview {
      position: absolute;
      top: 40px;
      max-width: 100%;
      max-height: calc(100% - 80px);
      padding: 30px 8px 8px;
      background-color: var(--color-medium-gray);
      border-radius: 8px;

      //@media (max-width: $upToDesktop) {
      //  width: 100%;
      //}

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1001;
      }

      &__content {
        position: relative;

        .close-preview {
          position: absolute;
          top: 0;
          right: 0;

          svg path {
            fill: white;
          }
        }
      }
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    &:disabled {
      svg path {
        fill: var(--color-light-blue-gray);
      }
    }
  }

  &__input {
    //padding-left: 50px;
    width: 100%;
    font-family: var(--inter-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-gray-blue)!important;
    padding: 7px 40px 7px 16px;
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 4px;
    margin-left: -2px;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);

  }

  &__file-preview {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    border-radius: 8px;
    overflow: hidden;

    .file-container {
      position: relative;
      display: block;
      padding-right: 20px;

      &__remove-file {
        position: absolute;
        top: 2px;
        right: 0;
        //transform: scale(0);
        //opacity: 0;
        transition: all 0.3s ease;
      }

      &:hover {
        .file-container__remove-file {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    &-image {
      position: relative;
      border: 2px solid var(--border-color);
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      min-width: 40px;
      max-width: 100px;
      flex-direction: column;
      height: 100%;

      &__img {
        display: block;
        max-height: 100px;
        max-width: 100%;
        width: auto;
        cursor: pointer;
      }
    }

    &-file {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      max-width: 100px;
      padding: 8px 8px 12px;
      flex-direction: column;
      height: 100%;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: var(--color-gray-blue);
      border: 2px solid var(--border-color);
      border-radius: 8px;

      &.pdf {
        cursor: pointer;
      }
    }
  }
}


