.container {
    padding: 26px;  
}

.gmv {
    color: var(--color-white);
    background-color: var(--color-green);

    .line {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.wrapper {
    padding: 0 15px;
}

.title {
    margin-bottom: 18px;
}

.main-amount {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2px;
}

.amount {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 6px;
    white-space: nowrap;
}

.row {
    display: flex;
}

.col {
    padding-bottom: 15px;
}

.line {
    border-left: 1px solid rgba(125,143,179, 0.2);
    padding-left: 24px;
}

.mb {
    margin-bottom: 15px;
}

