.forecast {
  &__container {
    opacity: 1;
    height: 100%;
    padding: 26px 24px;

    //@media (min-width: $tablet) and (max-width: $upToDesktop) {
    //  padding: 26px 12px;
    //}

    @include tabletAndUp {
      padding: 26px 12px;
    }

    @include desktopAndUp {
      padding: 26px 24px;
    }
  }

  &.gmv {
    color: var(--color-white);
    background-color: var(--color-green);

    .line {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__wrapper {
    padding: 0 15px;

    //@media (min-width: $tablet) and (max-width: $upToDesktop) {
    //  padding: 0 12px;
    //}

    @include tabletAndUp {
      padding: 0 12px;
    }

    @include desktopAndUp {
      padding: 0 15px;
    }
  }

  .title {
    margin-bottom: 18px;
  }

  &__main-amount {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2px;
    min-height: 40px;

    //@media (min-width: $tablet) and (max-width: $upToLaptop) {
    //  font-size: 32px;
    //}
    //
    //@media (min-width: $laptop) and (max-width: $upToDesktop) {
    //  font-size: 36px;
    //}

    @include tabletAndUp {
      font-size: 32px;
    }

    @include laptopAndUp {
      font-size: 36px;
    }

    @include desktopAndUp {
      font-size: 40px;
    }
  }

  &__amount {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 6px;
    white-space: nowrap;

    //@media (min-width: $tablet) and (max-width: $upToLaptop) {
    //  font-size: 14px;
    //}
    //@media (min-width: $laptop) and (max-width: $upToDesktop) {
    //  font-size: 18px;
    //}

    @include tabletAndUp {
      font-size: 14px;
    }

    @include laptopAndUp {
      font-size: 18px;
    }

    @include desktopAndUp {
      font-size: 20px;
    }
  }

  &__small-text {
    font-size: 12px;

    //@media (min-width: $tablet) and (max-width: $upToLaptop) {
    //  font-size: 10px;
    //}

    @include tabletAndUp {
      font-size: 10px;
    }

    @include laptopAndUp {
      font-size: 12px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;

    :global(.grid-col-2) {
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__col {
    padding-bottom: 15px;
  }

  &__error-message {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
  }

  .line {
    border-left: 1px solid rgba(125,143,179, 0.2);
    padding-left: 24px;
  }

  .mb {
    margin-bottom: 15px;
  }
}
