@import '@/constants/devices.scss';

.lead-questionnaire {
  position: relative;
  padding: 24px;

  @media (max-width: $upToLaptop) {
    padding: 16px;
  }

  .title-h3 {
    text-align: center;
  }

  &__questions {
    //max-width: 645px;
    //margin: 0 auto;
    padding: 0 24px;

    @media (max-width: $upToTablet) {
      padding: 0;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 15px;

    &-item {
      .checkbox {
        padding: 4px;
        margin-bottom: 2px;

        &-label-text {
          font-size: 11px;
        }

        &-label input {
          height: 18px;
          padding: 7px;
        }
      }
    }

    &-title {
      flex: 1 0 100%;
      width: 100%;
      font-weight: 700;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  &__errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    color: var(--color-error);
    font-weight: bold;

    .submit-error {
      margin-top: 2px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 16px;
  }

  .product-type-descriptions {
    margin-top: 32px;

    &__title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
    }

    &__sub-title {
      font-size: 12px;
      font-weight: bold;
      //margin-bottom: 12px;

      &-description {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 16px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      //padding: 0 16px;


      .photo-lead {
        .other-component__content {
          padding-top: 0;
        }
      }

      &-item {
        position: relative;
        padding: 0 16px 8px;
        border: 1px solid var(--border-color);
        border-radius: 15px;

        &-remove-btn {
          position: absolute;
          top: 0;
          right: -28px;

          @media (max-width: $upToTablet) {
            top: 10px;
            right: 8px;
          }

          svg {
            transition: .3s ease;
            transform: scale(1);

            path {
              transition: .3s ease;
            }

            &:hover {
              transform: scale(1.1);

              path {
                fill: var(--color-dark-red2);
              }
            }
          }
        }
      }
    }

    .toggle-switch {
      margin-bottom: 8px;
    }

    &__add-product-btn-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 16px;
    }
  }


}