@import '@/constants/devices.scss';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  //@media(max-width: 1200px) {
  //  align-items: flex-start;
  //}

  &-content {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 28px 38px 28px;

    @media (max-width: $mobile) {
      padding: 16px;
    }

    @media (min-width: $laptop) {
      width: 1200px;

      &.is-wide {
        width: 100%;
        max-width: 1400px
      }
    }
  }
}