.accordion-file-item {
  width: 100%;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    color: var(--color-gray-blue);
    white-space: break-spaces;
    border-bottom: 2px solid var(--border-color);

    svg path {
      transition: .9s ease;
    }

    //&:hover {
    //  svg path {
    //    fill: var(--color-blue);
    //  }
    //  //color: var(--color-blue);
    //}

    &-text {
      display: flex;
      align-items: center;
      gap: 4px;
      padding-left: 8px;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
    }



    &-icon {
      position: absolute;
      left: 0;
      //width: 20px;
      margin-left: auto;
      transform: rotate(-180deg);
      transition: all 0.2s ease-in;

      path {
        fill:  var(--color-gray-blue);
      }

      &.active {
        transform: rotate(0deg);
      }
    }

    .folder-icon {
      width: 20px;
    }
  }

  &__content {
    padding: 0 0 0 24px;
    animation: animate .5s ease;

    &-wrapper {
      background-color: var(--color-white);
      //border-bottom: 2px solid var(--border-color);
      transition: max-height 0.5s ease;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}