.chat-block {
  position: relative;
  &__message-history {
    overflow: scroll;
  }

  &__messages {
    list-style: none;
    padding: 0 24px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      margin-right: 50px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 3px;
      margin-bottom: 3px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-light-blue-gray);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-gray-blue);
    }
  }

  &__send {
    //position: sticky;
    //bottom: 0;
    //left: 0;
    //right: 0;
    //background-color: white;
  }
}