.wrapper {
    background-color: aquamarine;
    z-index: 101;
}

.save-button {
    background-color: #5380F5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;  
    width: 100%;
    border-radius: 30px;
    height: 50px;
    background-repeat: no-repeat;   
}

.save-button:hover {
    background-color: #446fd3;

}
.button-container {
    display: flex;
    justify-content: center; 
    padding: 10px;
}

.date-range-container {
    width: 100%;
    border-radius: 15px; 
    overflow: hidden;   
    border: 2px solid #F5F6F7;
}