.skeleton-line {
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #F0F0F0 -4%, rgba(250, 248, 248, 0.00) 100%), #D9D9D9;
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 8px;
  &.big {
    height: 40px;
  }
  flex-shrink: 0;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-spinner {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  animation: spin 1s linear infinite;
  background-color: transparent;
}

@keyframes load-loop {
  0% {
    background-position: 100%;
  }

  40% {
    background-position: 50%;
  }

  50% {
    background-position: 50%;
  }

  90% {
    background-position: 0%;
  }

  100% {
    background-position: 0%;
  }
}

.loader {
  position: relative;
  font-family: sans-serif;
  display: flex;
  height: auto;
  width: auto;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  font-size: 24px;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right,var(--color-blue) 33.3%,var(--color-blue) 33.3%, var(--color-blue) 66.6%, var(--color-blue) 66.6%) no-repeat;
  background-size: 300%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: infinite 1.4s load-loop ease;
}

.loader::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: linear-gradient(to right,var(--color-blue-15) 33.3%, transparent 33.3% , transparent 66.6%, var(--color-blue-15) 66.6%) no-repeat;
  background-size: 300%;
  background-position: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: infinite 1.4s load-loop ease;
  border-radius: 8px;
}