@import '@/constants/devices.scss';

.product-photos-with-preview {
  position: relative;
  display: flex;
  gap: 16px;
  //flex-direction: column;


  &__empty-label {
    font-size: 10px;
    font-weight: bold;
    line-height: 40px;
  }
  &__add-btn {
      flex: 0 0 auto;
      @media (max-width: $upToTablet) {
        font-size: 0;
        padding: 0 6px;
        gap: 0;
      }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    //padding-top: 10px;

    &-item {
      display: flex;
      align-items: center;
      font-size: 11px;
      font-weight: bold;
      //line-height: 20px;

      .remove-photo {
        transition: .3s ease;
        transform: rotate(45deg) translateY(3px);

        svg {
          transition: .3s ease;
          //transform: rotate(45deg) translateY(5px);

          path{
            fill: var(--color-dark-red2);
          }
        }

        &:hover {
          svg {
            transform: scale(1.2);
          }
        }
      }


    }
  }

  &__btn-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: right;
  }


}