.period-filter {
  &__container {
    position: relative;
    display: block;
  }

  &__list {
    list-style: none;
    display: flex;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
    overflow: hidden;

    &-item {
      font-size: 12px;
      font-weight: 900;
      line-height: 20px;
      padding: 10px 20px;
      color: var(--color-gray-blue);
      border-right: 2px solid var(--border-color);
      transition: all 0.3s ease-in;

      &:hover {
        color: var(--color-gray);
        background-color: var(--color-blue-15);
        cursor: pointer;
      }

      &:last-child {
        border-right: none;
      }

      &.active {
        color: var(--color-white);
        background-color: var(--color-blue);
      }
    }
  }

  &__datepicker {
    position: absolute;
    right: 0;
  }
}

.period-filter__dropdown {
  display: none;
}


@media (max-width: 1000px) {
  .period-filter__list {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    z-index: 101;
  }

  .period-filter__list.open {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 0 !important;

  }

  .period-filter__dropdown {
    display: block;
    cursor: pointer;
    list-style: none;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
    overflow: hidden;
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: white;
    width: 120px;
  }
}

.nav-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height:  20px;
}
.icon-right {
  margin-left: 0;
}