.hints-modal {

  &__wrapper {
    padding: 24px 0 6px;
  }

  &__description {
    font-size: 14px;
    margin-top: 16px;
  }

  &__icon-wrapper {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 28px;

    .icon {
      position: absolute;
      top: 18%;
      left: 0;
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 24px;
  }
}