@import '@/constants/devices.scss';
.date-input {

  &-field {
    position: relative;
    @media (max-width: $upToTablet) {
      width: 100%;
    }
    @media (min-width: $tablet) {
      flex: 1 0 150px;
    }

  }
  &-btn {
    //position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 210px;
    padding: 6px 36px 6px 16px;
    border: 2px solid var(--color-light-gray) !important;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03) !important;
    color: var(--color-gray-blue) !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
    transition: .3s ease;
    //@media (max-width: $mobile) {
    //  width: 100%;
    //}
    @media (max-width: $upToTablet) {
      width: 100%;
    }
    &:hover {
      border-color: var(--color-blue) !important;
    }
  }

  &-icon {
    position: absolute;
    right: 16px;
    top: 15px;
  }

  &__datepicker {
    position: absolute;
    z-index: 1000;

  }
}