@import "@/constants/devices.scss";

.report-page {

  .bread-crumbs-to-reports {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    font-size: 14px;
    font-weight: bold;
    color: var(--color-blue);
    transform: scale(1);
    transform-origin: left;
    transition: .3s ease;
    cursor: pointer;

    .icon {
      transform: rotate(180deg);
      path{
        fill: var(--color-blue);
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .variant-container {
    padding: 0 0 12px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 24px;
    }

    &__period-type {
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
      }

      &-title{
        font-size: 12px;
        font-weight: bold;
      }
    }

    .radio-switch {
      padding-bottom: 0;
    }
  }

  .filter-info-container {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .report-results {
    position: relative;
    overflow: hidden;
    border-radius: 15px;

    .need-rerender {
      &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        z-index: 10;
      }

      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        color: white;
      }
    }

      .report-hint {
        position: absolute;
        height: 24px;
        top: 6px;
        right: 6px;
        font-size: 0;

        @media (max-width: $upToTablet) {
          display: none;
        }

        .hint-icon {
          display: inline-block;
        }
      }
  }

  .report-generate-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    font-weight: bold;
    background-color: var(--color-white);
    border-radius: 15px;
    border: 2px solid var(--color-gray2);
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  }
}