@import "@/constants/devices.scss";

.order-status-history {
  margin-top: 24px;
  margin-left: -28px;
  margin-right: -28px;
  &__header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-gray-blue);
    border-bottom: 2px solid var(--border-color);
  }

  &__list {
    list-style: none;
    &-item {
      display: flex;
      font-size: 10px;
      font-weight: 700;
      color: var(--color-gray-blue);
      border-bottom: 1px solid var(--border-color);
    }
  }

  .column {
    padding: 10px 12px;

    @media (max-width: $mobile) {
      padding: 10px 6px;
    }
  }

  .date-column {
    flex: 0 0 110px;
    padding: 10px 12px 10px 0;
    margin-left: 20px;

    @media (max-width: $mobile) {
      padding: 10px 6px;
      flex: 0 0 70px;
    }

    //@media (max-width: $upToTablet) {
    //  flex: 0 0 70px;
    //}
  }
  .status-column {
    flex: 0 0 200px;

    @media (max-width: $upToTablet) {
      flex: 1 1 150px;
    }
  }
  .tracking-number-column {
    flex: 0 0 150px;

    @media (max-width: $upToTablet) {
      flex: 1 0 120px;
    }
  }
  .trouble-status-column {
    flex: 0 0 150px;

    @media (max-width: $mobile) {
      display: none;
    }

    @media (max-width: $upToTablet) {
      flex: 1 1 150px;
    }
  }
  .comment-column {
    flex: 0 0 300px;

    @media (max-width: $mobile) {
      display: none;
    }

    @media (max-width: $upToTablet) {
      flex: 1 1 300px;
    }
  }

  .highlight {
    background-color: #FAFBFC;
  }
}