.datepicker {
  position: relative;
  padding-top: 10px;

  &__close {
    position: absolute;
    top: 0;
    right: -7px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid var(--color-light-blue-gray);
    z-index: 2;
  }

  &__wrapper {
    background-color: aquamarine;
    z-index: 101;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .date-range-container {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #F5F6F7;
  }

  .rdrMonthName {
    display: none;
  }
}
