.phone-check-modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    padding: 16px;
    min-width: min(calc(100vw - 34px), 350px);

    .error-message {
        //position: absolute;
        //top: 100%;
        color: var(--color-error);
        font-size: 10px;
        font-weight: bold;
        margin-top: -20px;
        padding: 0 6px;
    }

    .actions {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }
}
