

.submenu {
  &-container {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    border-radius: 10px;

    .nav-arrow-icon {
      margin-left: auto;
    }

    &-expanded {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 10px;
      background-color: var(--color-white);
      box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
      margin-bottom: 25px;
      padding-bottom: 15px;

      .submenu-header {
        border-bottom: 2px solid var(--border-color);
        padding: 10px 0 15px 0;
        margin-bottom: 8px;

        .nav-arrow-icon {
          transform: rotate(0deg);
        }
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    color: var(--color-gray-blue);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    transition: color 0.3s ease;


    &__text {
      font-size: 13px;
      letter-spacing: 0.1px;
      transition: color 0.3s ease, letter-spacing 0.3s ease;
    }


    &:hover {
      color: var(--color-blue);

      .submenu-header__text {
        letter-spacing: 0.8px;
      }
    }

    .nav-arrow-icon {
      transform: rotate(90deg);
      transition: all 0.3s ease-in;
    }
  }

  &-items {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: var(--color-gray-blue);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    max-height: 0;
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: none;
    transition:  all 0.3s ease;

    &-open {
      max-height: 500px;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    height: 40px;
    letter-spacing: .1px;
    transition: color 0.3s ease, letter-spacing 0.3s ease;

    &:hover {
      color: var(--color-blue);
      letter-spacing: .8px;
      //font-size: 14px;
    }
  }


}