@import "@/constants/devices.scss";

.order-service {
  margin-top: 24px;
  margin-left: -28px;
  margin-right: -28px;
  &__header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-gray-blue);
    border-bottom: 2px solid var(--border-color);
  }

  &__list {
    list-style: none;
    &-item {
      display: flex;
      font-size: 10px;
      font-weight: 700;
      color: var(--color-gray-blue);
      border-bottom: 1px solid var(--border-color);
    }
  }

  .column {
    padding: 10px 12px;

    @media (max-width: $upToTablet) {
      padding: 10px 6px;
    }
  }

  .date-column {
    flex: 0 0 110px;
    padding: 10px 12px 10px 0;
    margin-left: 20px;

    @media (max-width: $upToTablet) {
      padding: 10px 6px 10px 0;
      flex: 0 0 70px;
    }
  }
  .service-column {
    flex: 1 1 140px;
  }
  .quantity-column {
    flex: 0 0 80px;

    @media (max-width: $mobile) {
      display: none;
    }
  }
  .sale-price-column {
    flex: 0 0 80px;

    @media (max-width: $mobile) {
      display: none;
    }
  }
  .currency-column {
    flex: 0 0 80px;

    @media (max-width: $mobile) {
      display: none;
    }
  }
  .amount-column {
    flex: 0 0 80px;

    @media (max-width: $upToLaptop) {
      display: none;
    }

    @media (max-width: $mobile) {
      display: block;
    }
  }
  .vol-weight-column {
    flex: 0 0 80px;

    @media (max-width: $upToTablet) {
      display: none;
    }
  }
  .tracking-number-column {
    flex: 0 0 150px;
  }
  .sum-column {
    flex: 0 0 80px;

    @media (max-width: $upToTablet) {
      display: none;
    }
  }



  .highlight {
    background-color: #FAFBFC;
  }
}