.order-service {
  margin-top: 24px;
  margin-left: -28px;
  margin-right: -28px;
  &__header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-gray-blue);
    border-bottom: 2px solid var(--border-color);
  }

  &__list {
    list-style: none;
    &-item {
      display: flex;
      font-size: 10px;
      font-weight: 700;
      color: var(--color-gray-blue);
      border-bottom: 1px solid var(--border-color);
    }
  }

  .date-column {
    flex: 1 1 140px;
    padding: 8px 12px 8px 0;
    margin-left: 20px;
  }
  .service-column {
    flex: 1 1 140px;
    padding: 10px 12px;
  }
  .quantity-column {
    flex: 0 0 90px;
    padding: 10px 12px;
  }
  .sale-price-column {
    flex: 0 0 90px;
    padding: 10px 12px;
  }
  .currency-column {
    flex: 0 0 90px;
    padding: 10px 12px;
  }
  .amount-column {
    flex: 0 0 90px;
    padding: 10px 12px;
  }
  .vol-weight-column {
    flex: 0 0 90px;
    padding: 10px 12px;
  }
  .tracking-number-column {
    flex: 0 0 150px;
    padding: 10px 12px;
  }
  .sum-column {
    flex: 0 0 90px;
    padding: 10px 12px;
  }



  .highlight {
    background-color: #FAFBFC;
  }
}