.filter-block {
  &__wrapper {
    padding: 4px 16px 12px;
    background-color: var(--color-white);
  }

  &__title {
    margin-bottom: 12px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-gray);
    border-bottom: 2px solid var(--border-color);
  }

  .accordion-item__title {
    color: var(--color-gray);

    &.is-active {
      border-bottom: 2px solid var(--border-color);
    }

    .icon-marketplace,
    .icon-package-return {
      transform: scale(.85);
    }

  }

  &__options {

    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 12px;
      list-style: none;

      &-item {
        display: flex;
      }
    }
  }
}