@import '@/constants/devices.scss';

.footer {
  width: 100%;
  min-height: 170px;
  margin-top: auto;

  background-color: var(--color-dark-blue);
  color: var(--color-gray-blue);

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 28px 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $mobile) {
      display: block;
      padding: 20px 16px 30px;
      text-align: center;
    }
  }

  &-left {

  }

  &-right {
    min-width: 14.5%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &-links {
    min-width: 174px;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;

    @media (min-width: $mobile) {
      line-height: 40px;
    }

    .is-footer-link {
      display: block;
      //text-decoration: none;
      transform: scale(1);
      transform-origin: left;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .logo {
    padding: 20px 0;
  }

  .copyright,
  .address {
    margin-bottom: 6px;
  }
}