@import '@/constants/devices.scss';

.profile-page {

  &__container {
    padding:  0 24px 24px;

    @media (max-width: $mobile) {
      padding: 0 16px 16px;
    }

    .tabs-block__content {
      min-height: 0 !important;
    }
  }
}