@import '@/constants/devices.scss';

.universal-popup {
  position: relative;
  padding: 25px 8px 8px 2px;

  @media (hover: hover) {
    padding-top: 8px;
  }

  //&.has-close-icon {
  //  padding: 25px 8px 8px 2px!important;
  //}

  &.has-copy-icon {
    padding: 36px 8px 8px 2px!important;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    .hide-close-btn & {
      @media (hover: hover) {
        display: none;
      }
    }
  }

  .copy-btn {
    position: absolute;
    top: 6px;
    left: 12px;
    display: flex;
    align-items: center;
    padding: 2px 2px 2px 6px;
    color: var(--color-light-blue-gray);
    background-color: transparent;
    border: 1px solid var(--color-light-blue-gray);
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.3s ease;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 4px;

      path {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      color: var(--color-dark-blue);
      background-color: var(--color-light-blue-gray);

      svg path {
        fill: var(--color-dark-blue);
      }
    }
  }
  
  &__list {
    position: relative;

    &.has-scroll {
      max-height: 300px;
      overflow: auto;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      margin-right: 30px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 3px;
      margin-bottom: 3px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-light-blue-gray);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-gray-blue);
    }
  }

  &__wrapper {
    position: absolute;
    top: calc(50% - 2px);
    background-color: var(--color-dark-blue);
    color: white;
    border-radius: 5px;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeIn 1s forwards;
    z-index: 1000;
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
    @media (max-width: $tablet) {
      max-width: 400px;
    }
    @media (max-width: $mobile) {
      max-width: 250px;
    }

    &--right{
      left: 32px;

      &::before {
        left: -5px;
        border-right:5px solid var(--color-dark-blue);
      }

      &.change-on-mobile {
        @media (max-width:  $upToLaptop) {
          left: auto;
          right: 32px;

          &::before {
            left: auto;
            right: -5px;
            border-left: 5px solid var(--color-dark-blue);
            border-right: none;
          }
        }
      }
    }
    &--left {
      right: 32px;

      &::before {
        right: -5px;
        border-left:5px solid var(--color-dark-blue);
      }

      &.change-on-mobile {
        @media (max-width: $upToLaptop) {
          left: 32px;
          right: auto;

          &::before {
            left: -5px;
            right: auto;
            border-left: none;
            border-right: 5px solid var(--color-dark-blue);
          }
        }
      }
    }
  }


  &__item{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    @media (max-width: $mobile) {
      max-width: 250px;
    }

    &-list {
      list-style: none;
    }

    &-text {
      padding-left: 20px;
      padding-right: 10px;
      font-weight: 400;
      white-space: nowrap;

      &::before {
        content: "";
        position: absolute;
        left: 10px;
        width: 0;
        height: 20px;
        padding-right: 10px;;
        border-radius: 7px;
        background-color: var(--color-light-blue-gray);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}