.status-bar {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
  }

  .colored-bar {
    flex: 1 1 auto;
    height: 4px;
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 100%;
    min-width: 180px;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
  }

  &__count {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    font-size: 12px;
    font-weight: 900;
    margin: 0 10px 0 auto;
    padding-right: 10px;
    width: 25px;
    line-height: 21px;
    //border-radius: 50%;
    //border: 2px solid var(--color-gray2);
    //box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
    border-right: 1px solid rgba(125,143,179, 0.2);
  }
}