@import '@/constants/devices.scss';

.cookie-policy-page {
  &__text-wrapper {
    padding: 24px;

    @media (max-width: $mobile) {
      padding: 0;
    }

    p {
      font-size: 16px;
      margin-bottom: 24px;
    }

    .text-bold {
      font-weight: bold;
    }

    //.is-link {
    //  color: var(--color-blue);
    //  text-decoration: underline;
    //
    //  &:hover {
    //    text-decoration: none;
    //  }
    //}

    .simple-list {
      margin-inline-start: 36px;

      @media (max-width: $mobile) {
        margin-inline-start: 20px;
      }
    }
  }

  &__cookie-list-table {
    margin-bottom: 36px;
    font-size: 14px;
    border-spacing: 0;
    border: 1px solid var(--color-gray);

    td, th {
      font-size: 14px;
      padding: 6px 10px;
      border: 1px solid var(--color-gray);
      min-width: 86px;
    }

    th {
      background-color: var(--color-blue-15);
    }
  }
}