@import '@/constants/devices.scss';

.stock-cell-style {
	display: flex;
	width: 100%;
	height: 30px;
	padding: 3px 10px 3px 15px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	top: 15px;
	border-radius: 20px;
	border: 2px solid #5380F5;
	background: #5380F5;
	color: white;
	cursor: pointer;
}

.status-filter-container {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	@media (max-width: $mobile) {
		flex-wrap: wrap;
	}
}