.lead-page__waiting-info {

  &__message {
    padding: 36px 24px;
    text-align: center;

    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 24px;
    }

    &-text {
      margin-bottom: 6px;
      font-size: 16px;
      //font-weight: bold;
      line-height: 1.2;

      &-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
      }
    }
  }

}