
.orders-by-country {
  &__container {
    padding: 40px 26px 0 26px;
    overflow: hidden;
    opacity: 1;
  }

  .title {
    margin-bottom: 32px;
    margin-top: 10px;
  }

  &__tablist {
    list-style: none;
    display: flex;
    //gap: 50px;
    margin: 0 -25px 20px;

    .tab {
      padding: 0 25px;

      &:hover {
        color: var(--color-blue);
      }
    }

    .active-tab {
      color: var(--color-blue);

      .tab-link {
        border-bottom-color: var(--color-blue);
      }
    }

    .tab-link {
      padding-bottom: 4px;
      font-size: 12px;
      font-weight: 900;
      line-height: 20px;
      border-bottom: 2px solid transparent;
      transition: border-bottom-color .3s ease;
    }
  }

  &__content {
    margin: 0 -26px;

    .panel {
      min-height: 20px;
    }
  }
}

