@import '@/constants/devices.scss';

.login {
  &__bg-logo {
    display: none;
    justify-content: center;
    align-items: center;
    @media (min-width: $tablet) {
      display: block;
      position: absolute;
    }
  }
}
