@import "@/constants/devices.scss";

.order-sms-history {
  margin: 24px -28px 0 -28px;

  @media (max-width: $mobile) {
    margin-left: -16px;
    margin-right: -16px;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-gray-blue);
    border-bottom: 2px solid var(--color-gray2);
  }

  &__list {
    list-style: none;
    max-height: calc(100vh - 437px);
    overflow: hidden scroll;

    @media (max-width: $mobile) {
      max-height: calc(100vh - 390px);
    }

    &-item {
      display: flex;
      font-size: 10px;
      font-weight: 700;
      color: var(--color-gray-blue);
      border-bottom: 1px solid var(--border-color);
    }
  }

  .column {
    padding: 10px 12px;

    @media (max-width: $mobile) {
      padding: 10px 6px;
    }
  }

  .date-column {
    flex: 0 0 120px;
    padding: 10px 12px 10px 0;
    margin-left: 20px;

    @media (max-width: $mobile) {
      padding: 10px 6px;
      flex: 0 0 70px;
    }
  }
  .status-column {
    flex: 0 90px;

    @media (max-width: $upToTablet) {
      flex: 0 1 90px;
    }
  }

  .recipient-column {
    flex: 0 0 140px;

    @media (max-width: $upToTablet) {
      flex: 0 0 120px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .text-column {
    flex: 1 0 300px;

    @media (max-width: $upToTablet) {
      flex: 1 1 200px;
    }
  }

  .highlight {
    background-color: #FAFBFC;
  }
}