.label-select {
  &-container {
    width: 135px;
    margin-left: auto;
  }

  &__menu {
    border: 1px solid var(--color-light-gray) !important;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03) !important;
    color: var(--color-blue) !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
  }

  &__dropdown-indicator svg {
    fill: var(--color-blue);
    cursor: pointer;
  }

  &__option--is-selected {
    background-color: transparent !important;
    color: var(--color-blue) !important;
  }
  &__option--is-selected:hover {
    background-color: transparent !important;
  }
  &__option--is-focused {
    background-color: var(--color-blue-15) !important;
    color: var(--color-gray-blue) !important;
    cursor: pointer !important;
  }
  &__option--is-focused :hover{

  }

  &__single-value {
    color: var(--color-blue) !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer !important;

  }

  &__indicator-separator {
   display: none !important;

  }

  &__control {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;

    &:hover {

    }

    &:focus {

    }
  }
}

.label-select__input {
  opacity: 0 !important;
}

