.accordion-item {
  width: 100%;
  //overflow: hidden;
  //transition: .3s ease;

  //&.is-active {
  //  overflow: initial;
  //}

  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    color: var(--color-gray-blue);
    white-space: break-spaces;

    &-wrapper {
      padding-right: 20px;
      text-align: start;
    }

    &-text {
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      display: flex;
      align-items: center;


      .title-icon {
        width: 24px;
        height: 24px;
        margin-right: 6px;
      }
    }

    &:hover {
      color: var(--color-blue);
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 5px;
      margin-left: auto;
      transform: rotate(180deg);
      transition: all 0.5s ease-in;

      &.active {
        transform: rotate(0deg);
      }

      .extra-actions & {
        margin-left: 0;
      }
    }

    .extra-actions & {
      justify-content: normal;
    }
  }

  &__content {
    padding: 16px;

    &-wrapper {
      background-color: var(--color-white);
      border-bottom: 2px solid var(--border-color);
      transition: max-height 0.3s ease-in;
      overflow: hidden;

      .deactivated & {
        overflow: hidden;
      }

      .is-active & {
        overflow: initial;
      }

      .extra-actions & {
        background-color: transparent;
      }
    }

    .extra-actions & {
      padding: 8px 16px;
    }
  }

  &.extra-actions {
    margin-bottom: -16px;
  }
}