.back-to-top {
  position: fixed;
  display: block;
  bottom: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-blue);
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
  z-index: 1000;
  transition: 0.3s ease;
  transform: scale(1);


  &__icon {
    font-size: 24px;
    //fill: white;
    stroke: var(--color-white);
    transition: 0.3s ease;
  }

  &:hover {
    transform: scale(1.1);
    //background-color: white;

    //.back-to-top__icon {
    //  stroke: var(--color-blue);
    //}
  }
}