.product-info {

  width: 1090px;

  .card {
    padding: 28px;
    margin-bottom: 16px;
  }

  .additional-selects {
    padding: 0;
  }

  &__block-title {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    color: var(--color-gray-blue);
    margin-bottom: 16px;

    svg {
      margin-right: 16px;
    }
  }

  &--unitOfMeasures {

    &-select {
      margin-bottom: 26px;
    }

    &-table {
      margin: 0 -28px;

      &-btns {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding-bottom: 8px;
        gap: 30px;
      }
    }
  }



  .ant-table {

    &-container {

    }

    &-content {

    }

    &-thead {
      .ant-table-cell {
        padding: 20px 10px !important;
        font-size: 12px;
        font-weight: bold;
        color: var(--color-gray-blue) !important;
        background-color: var(--color-white) !important;

        &::before {
          content: none !important;
        }
      }

    }

    &-cell {
      padding: 8px !important;
    }

  }

  .form-submit-btn {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    margin-top: 30px;
  }
}

