@import '@/constants/devices.scss';

.dashboard-page__container {
  width: 100%;
  color: var(--color-gray-blue);
  position: relative;

  .dashboard-seller-filter {
    margin-top: -8px;
    margin-bottom: 12px;
  }
}

.dashboard-grid {
  &-col {
    @media (max-width: $upToTablet) {
      margin-bottom: 24px;
    }
  }

  &-row {
    @media (min-width: $tablet) {
      margin-bottom: 28px;
    }
  }
}

.dashboard-animated-grid {
  opacity: 0;
  animation: fadeInDown 1s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

