@import '@/constants/devices.scss';

.search-field {
  display: flex;
  position: relative;
  flex: 1 1 auto;

  :global(.icon-search) {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 30px;
      height: 30px;
      transform: translateY(-50%);
      z-index: 2;

    &:global(.manual-search) {
      @media (max-width: $upToTablet) {
        display: none;
      }
    }
  }


  .search-input {
    flex: 1 1 auto !important;
    display: flex;
    height: 50px;
    padding: 15px 40px 15px 45px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid #F5F6F7;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
    color: #7D8FB3;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    transition: .3s ease;

    &.manual-search {
      padding-right: 110px;

      @media (max-width: $upToTablet) {
        padding-left: 16px !important;
        padding-right: 24px;
      }
    }
  }

  .search-btns {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;

    &.manual-search {
      right: 0;
    }
  }

  .clear-search {
    background-color: transparent;
    border: none;
  }

  .apply-search {
    padding: 6px 12px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 0 30px 30px 0;
    margin-top: -7px;
    margin-bottom: -7px;

    &::after {
      content: ''
    }

    @media (max-width: $upToTablet) {
      font-size: 0;
      &:after {
        content: url('../../assets/icons/search.svg');
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 24px;
        //font-size: 12px;
      }
    }
  }

  &:hover {
    .search-input {
      border-color: var(--color-blue) ;
    }
  }
}